<?xml version="1.0" ?>
<robot name="box_robot">
    <link name="box_link">
        <visual>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
</robot>